.users-button{
    -fx-text-fill: -fx-primary-blue;
    -fx-background-color: -fx-primary-background;
    -fx-border-color: -fx-primary-blue;
    -fx-background-radius: 0;
}

.users-button:hover{
    -fx-background-color: -fx-secondary-background;
}